.blogpost__container {
  border: solid black;
}
.blogpost__container__summary {
  border: solid blue;
}
.blogpost__container__summary__title {
  color: red;
  font-size: 2rem;
}
.blogpost__container__summary__author {

  font-size: 1.1rem;
}

.blogpost__container__summary__time {
  color: green;
  font-size: 1.1rem;
}

.blogpost__container__comment__container{
  background-color: blue;
}

.blogpost__container__comment_overview{
  border: solid red;
}
